faiss-cpu==1.7.3
ffmpeg==1.4
ffprobe==0.5
google-auth==2.16.2
google-auth-oauthlib==1.0.0
gspread==5.7.2
nest-asyncio==1.5.6
nltk==3.8.1
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
pandas==2.0.2
pydub==0.25.1
pyTelegramBotAPI==4.7.1
regex==2022.10.31
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
SpeechRecognition==3.8.1
tmdbsimple==2.9.1
transformers==4.29.2
easyocr==1.7.1
tmdbsimple==2.9.1
oauth2client==4.1.3