faiss-cpu
ffmpeg
ffprobe
google-auth
google-auth-oauthlib
gspread
nest-asyncio
nltk
numpy
oauth2client
oauthlib
pandas
pydub
pyTelegramBotAPI
regex
requests
scikit-learn
scipy
SpeechRecognition
tmdbsimple
transformers
easyocr
tmdbsimple
oauth2client
ollama
pysocks
